In [2]:
# Cell 1: Imports
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Cell 2: Load the sample dataset
file_path = "../data/raw/online_retail_II_sample.csv"
df = pd.read_csv(file_path)

# Quick look at the data
print("Dataset shape:", df.shape)
df.head()

Dataset shape: (500, 8)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
# Cell 3: Quick summary of dataset
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      500 non-null    object
 1   StockCode    500 non-null    object
 2   Description  500 non-null    object
 3   Quantity     500 non-null    int64
 4   InvoiceDate  500 non-null    object
 5   Price        500 non-null    float64
 6   Customer ID  500 non-null    float64
 7   Country      500 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 31.4+ KB

         Quantity       Price   Customer ID
count  500.000000  500.000000    500.000000
mean    16.486000    3.608880  15666.764000
std     38.615958    8.071726   1762.454843
min    -24.000000    0.100000  12431.000000
25%      3.000000    1.250000  14307.000000
50%      6.000000    2.100000  15862.000000
75%     12.000000    3.950000  17511.000000
max    432.000000  165.000000  18074.000000

In [5]:
# Cell 4: Check for missing values
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [6]:
# Cell 5: Save first 500 rows as a sample for GitHub
sample_df = df.head(500)
sample_df.to_csv("../data/raw/online_retail_II_sample.csv", index=False)